<launch>
<!-- Add 3 nodes-->
<!-- Sample Nodes
<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -param robot_description -model my_robot 
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
<node name="rviz" pkg="rviz" type="rviz" respawn="false"/>			-->

<!--name="map_server"-->

<!--name="amcl"-->

<!--name="move_base"-->

</launch>
